version: "3"
services:
  engecopi_prdecomerce:
    image: tomcat:8
    container_name: eng_pedido_prdecomerce
    ports:
      - "8017:8080"
    environment:
      TZ: "America/Fortaleza"
      EBEAN_PROPS: /etc/ebean.properties
      LANG: 'pt_BR.UTF-8'
      LANGUAGE: 'pt_BR:pt'
      LC_ALL: 'pt_BR.UTF-8'
    volumes:
      - ./build/libs/producao.war:/usr/local/tomcat/webapps/produtosECommerce.war:z
      - ./ebean.properties:/etc/ebean.properties:z
    restart: always
    networks:
      rede_pedido_prdecomerce:
        ipv4_address: 172.117.1.1
networks:
  rede_pedido_prdecomerce:
    ipam:
      driver: default
      config:
        - subnet: 172.117.0.0/16
